// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

//    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "noctalia-shell"
    // Sleep
    // spawn-sh-at-startup "swayidle -w timeout 180 'noctalia-shell ipc call lockScreen lock' timeout 300 'systemctl suspend' before-sleep 'noctalia-shell ipc call lockScreen lock'"
    // No sleep
    // spawn-sh-at-startup "swayidle -w timeout 180 'noctalia-shell ipc call lockScreen lock'"
    spawn-at-startup "xwayland-satellite"
    spawn-sh-at-startup "equibop"
    spawn-at-startup "wayland-pipewire-idle-inhibit"