    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
        match app-id="zen"
        default-column-width { proportion 1.0; }
    }

    window-rule {
        match app-id="code"
        default-column-width { proportion 1.0; }
    }

    window-rule {
      match is-active=false
      opacity 0.85
      background-effect {
        blur true
      }
    }

    window-rule {
      match is-active=true
      exclude app-id="(?i)^(code|zen|brave-browser|firefox|chromium|google-chrome|discord|equibop)$"
      opacity 0.9
      background-effect {
        blur true
      }
    }
